.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:#333 1px solid;
}
.logo {
    width: 75px;
    height: 75px;
    margin: 10px;
}
.logo-container {
    margin-left: 240px;
    display: flex;
    align-items: center;
    height: 75px;
    width: 225px;
}
.logo-container a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.logo-container:hover {
    cursor: pointer;
}
.balance {
    font-size: 22.5px;
    color: #333;
    margin-right: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.username {
    font-size: 22.5px;
    color: #333;
}