body {
    background-color: #F1F0E5
}
.head {

}
.containerHead {
    background-color: #f3f2ed;
    width: 800px;
    height: 100px;
    text-align: left;
    display: flex;
    align-items: left;
    border: 2px solid #000;
    border-radius: 14.5px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.containerHead:hover {
    
}
.container {
    background-color: #f3f2ed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    text-align: left;
    align-items: left;
    border: 2px solid #000;
    border-radius: 14.5px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.container:hover { 
    
}
.box {

}
.BtnStartTimer {
    height: 30px;
    width: 100px;
    border-radius: 7.5px;
    margin-right: 10px;
}
.BtnStartStopwatch {
    height: 30px;
    width: 135px;
    border-radius: 7.5px;
    margin-left: 10px;
}